{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de produtos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> 
    <div class="container"> 
        <h1> LISTAR PRODUTO</h1>
        <table class="table table-striped">
            <thead>
                <tr>    
                    <th scope="col">Nome</th>
                    <th scope="col">Atualizar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{produto.nome_produto}}</td>
                        <td> 
                            <a href="{% url 'atualizarproduto' produto.id %}" class="btn btn-primary">Editar</a>
                        </td>
                        <td>
                            <a href="{% url 'deletarproduto' produto.id %}" class="btn btn-danger">Excluir</a>
                        </td>

                    </tr>

                {%endfor%}
            </tbody>
    </table>
        <a href="/produtos/"class="btn btn-primary">Voltar</a>
    </div>
 </body>
 

</html>