{% load static %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Produtos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container"> 
    <h1> CADASTRO PRODUTOS</h1>
    <form method="POST" enctype="multipart/form-data">    
        {% csrf_token %}
        {{ form|bootstrap}}
        <button class="btn btn-primary" type="submit">Salvar</button>
    </form> 
    </div> 
</body>
</html>